In [3]:
%load_ext sql

# New Section

In [4]:
%sql sqlite://

'Connected: @None'

In [5]:
import pandas as pd

In [6]:
weatherdb = pd.read_csv('weather.csv')
weatherdb.shape

(6276, 8)

In [7]:
cab_ridesdb2 = pd.read_csv('cab_rides.csv')

In [8]:
cab_ridesdb2.shape

(693071, 10)

In [9]:
cab_ridesdb2.head(5)

   distance cab_type  ...    product_id          name
0      0.44     Lyft  ...     lyft_line        Shared
1      0.44     Lyft  ...  lyft_premier           Lux
2      0.44     Lyft  ...          lyft          Lyft
3      0.44     Lyft  ...   lyft_luxsuv  Lux Black XL
4      0.44     Lyft  ...     lyft_plus       Lyft XL

[5 rows x 10 columns]

In [10]:
%sql DROP TABLE if EXISTS weatherdb;

 * sqlite://
Done.

[]

In [11]:
%sql DROP TABLE if EXISTS cab_ridesdb2;

 * sqlite://
Done.

[]

In [12]:
%sql PERSIST weatherdb;

 * sqlite://

'Persisted weatherdb'

In [13]:
%sql PERSIST cab_ridesdb2;

 * sqlite://

'Persisted cab_ridesdb2'

In [14]:
%sql SELECT * FROM weatherdb LIMIT 5;

 * sqlite://
Done.

[(0, 42.42, 'Back Bay', 1.0, 1012.14, 0.1228, 1545003901, 0.77, 11.25),
 (1, 42.43, 'Beacon Hill', 1.0, 1012.15, 0.1846, 1545003901, 0.76, 11.32),
 (2, 42.5, 'Boston University', 1.0, 1012.15, 0.1089, 1545003901, 0.76, 11.07),
 (3, 42.11, 'Fenway', 1.0, 1012.13, 0.0969, 1545003901, 0.77, 11.09),
 (4, 43.13, 'Financial District', 1.0, 1012.14, 0.1786, 1545003901, 0.75, 11.49)]

In [15]:
%sql SELECT * FROM cab_ridesdb2 LIMIT 5;

 * sqlite://
Done.

[(0, 0.44, 'Lyft', 1544950000000.0, 'North Station', 'Haymarket Square', 5.0, 1.0, '424553bb-7174-41ea-aeb4-fe06d4f4b9d7', 'lyft_line', 'Shared'),
 (1, 0.44, 'Lyft', 1544950000000.0, 'North Station', 'Haymarket Square', 11.0, 1.0, '4bd23055-6827-41c6-b23b-3c491f24e74d', 'lyft_premier', 'Lux'),
 (2, 0.44, 'Lyft', 1544950000000.0, 'North Station', 'Haymarket Square', 7.0, 1.0, '981a3613-77af-4620-a42a-0c0866077d1e', 'lyft', 'Lyft'),
 (3, 0.44, 'Lyft', 1544950000000.0, 'North Station', 'Haymarket Square', 26.0, 1.0, 'c2d88af2-d278-4bfd-a8d0-29ca77cc5512', 'lyft_luxsuv', 'Lux Black XL'),
 (4, 0.44, 'Lyft', 1544950000000.0, 'North Station', 'Haymarket Square', 9.0, 1.0, 'e0126e1f-8ca9-4f2e-82b3-50505a09db9a', 'lyft_plus', 'Lyft XL')]

In [16]:

%sql select sum(distance) , cab_type from cab_ridesdb2 where cab_type = 'Lyft'

 * sqlite://
Done.

[(672293.7899999839, 'Lyft')]

In [28]:
 %sql select MAX(price) ,name, cab_type from cab_ridesdb2 where cab_type = 'Lyft'

 * sqlite://
Done.

[(97.5, 'Lux Black XL', 'Lyft')]

In [18]:
%sql select MIN(price) from cab_ridesdb2 where cab_type = 'Uber'

 * sqlite://
Done.

[(4.5,)]

In [20]:
%sql select sum(distance), name from cab_ridesdb2 where source = 'Haymarket Square' group by name order by distance asc

 * sqlite://
Done.

[(4949.799999999993, 'Lux'),
 (4949.7999999999965, 'Lux Black'),
 (4949.799999999996, 'Lux Black XL'),
 (4949.79999999999, 'Lyft'),
 (4949.799999999994, 'Lyft XL'),
 (4949.799999999992, 'Shared'),
 (4973.719999999769, 'Black'),
 (4973.71999999977, 'Black SUV'),
 (4973.71999999977, 'Taxi'),
 (4972.579999999765, 'UberPool'),
 (4973.719999999768, 'UberX'),
 (4973.719999999768, 'UberXL'),
 (4973.719999999769, 'WAV')]

In [22]:

%sql select AVG(temp), location from weatherdb where temp >= 20 group by location order by location asc

 * sqlite://
Done.

[(39.15558541266794, 'Back Bay'),
 (39.0838505747127, 'Beacon Hill'),
 (39.15930769230766, 'Boston University'),
 (39.11233140655103, 'Fenway'),
 (39.41082217973236, 'Financial District'),
 (39.067896749521985, 'Haymarket Square'),
 (39.09084130019119, 'North End'),
 (39.10857965451053, 'North Station'),
 (39.08544230769229, 'Northeastern University'),
 (39.39409177820272, 'South Station'),
 (39.02314176245213, 'Theatre District'),
 (39.056660268714005, 'West End')]

In [25]:
%sql select count(location), location from weatherdb where rain is null group by location order by location asc

 * sqlite://
Done.

[(449, 'Back Bay'),
 (447, 'Beacon Hill'),
 (449, 'Boston University'),
 (453, 'Fenway'),
 (450, 'Financial District'),
 (447, 'Haymarket Square'),
 (446, 'North End'),
 (443, 'North Station'),
 (452, 'Northeastern University'),
 (450, 'South Station'),
 (450, 'Theatre District'),
 (446, 'West End')]